body ,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.logo img {
    width: 200px; 
    height: 40 
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #012E4D; 
  transition: background-color 0.3s ease;
  max-width: 100%;
}
.scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
header h1 {
    font-size: 40px;
    
}
header nav {
    display: flex;
    gap: 30px;
    padding-right: 100px;
}
header nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    transition: .5s;


}
header nav a:hover,header nav a:active{
    background: #F57B32;
    color: white;
}
header nav:hover >a:not(:hover){
    background: none;
}
.icons {
    padding-right: 200px;
}
header .icons a{
    font-size: 25px;
    color: white;
    padding-left: 25px;
    transition: .5s;
}
header .icons a:hover{
    color: #F57B32;
}
/* Mobile Menu */
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    padding-right: 40px;
  }
  .Micons a{
    top: 40px;
    color: white;
    position: absolute;
    left: 320px;
    font-size: 25px !important;
    
  }

  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   z-index: 1000;
  
  }
  
  .mobile-menu {
    display: none;
    position: fixed;
    top: 80px; 
    right: 0;
    height: calc(100vh - 100px); 
    width: 100%;
    background-color: #fffeff;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; 
    z-index: 10000000;
  }
  
  
  .mobile-menu li {
    margin-bottom: 10px;
    padding-top: 50px;
    padding-left: 150px;
    
  }
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }



/* Header End */

footer{
    background-color: #012E4D;
    display: flex;
    align-items: center;
    min-height: 30vh;
    background-position: center;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    max-width: 100%;
    position: relative;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #F57B32;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    color: #F57B32;
}
.footerBottom{

    background-color: #012E4D;
    padding: 20px;
    text-align: center;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 2.5vh;
    padding-bottom: 50px;
}
.footerBottom p{
    color: white;
    margin-left: 650px;
}
.designerGroup{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}


/* --------- For Mobile ------ */

/* Header */
@media only screen and (min-width: 769px) {
    .Micons{
        display: none; /* Hide the div on desktop screens */
    }
} 
/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    header nav {
        display: none;
    }
    .icons {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }

}
/* Footer  */
@media (max-width: 768px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

/* Footer  */

#products,#product_tile_flex{
    padding: 16px;
    margin-top: 100px;
}
#product_tile_flex{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    min-width: 75%;
        flex-direction: column
}

.body_flex form{
    min-width: 75%;
    padding: 42px;
}
.body_flex{
    display: flex;
}
.product_tile{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border: 1px solid lightgray;
    gap: 8px;
}
.product_tile img{
    margin-bottom: 8px;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.product_tile a{
    font-size: 1.1rem;
    color: rgb(32, 32, 32);
}
.product_desc{
    color: rgb(103, 102, 102);
    margin-bottom: 8px;
}
.product_price{
    font-weight: bold;
    color: rgb(0, 100, 0);
}
.product_tile button {
    border: none;
    background-color: #28a745;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}
.product_tile button:hover {
    background-color: #208939;
}


/* Cart Overview */
#cart_overview{
    width: 20%;
}
#cart_overview table{
   width: 100%;
   border-collapse: collapse;
}
#cart_overview table td p{
    margin: 0;
}
#cart_overview table tr:first-child{
    width: 60%;
}
#cart_overview table tr{
    text-align: right;
    height: 50px;
}
#cart_overview table tr td:first-child{
    text-align: left;
}
#cart_overview #content{
    padding: 16px;
    max-height: min-content;
    min-width: 100%;
    background-color: rgb(235, 235, 235);   
}
#cart_overview .cartcount{
    background-color: rgb(112, 112, 112);
    padding: 4px 16px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: white;
}
#cart_grand_total_row{
    border-top: 1px solid black;
    margin-top: 8px;
    font-weight: bold;
}
#checkout_btn{
    width: 100%;
    background-color: darkslategray;
    border: none;
    outline: none;
    padding: 4px 16px;
    cursor: pointer;
}
#checkout_btn:hover{
    background-color: rgb(33, 56, 56);
}
#checkout_btn{
    color: white;
}